
/* id styling */

#navbar{
    margin:0
}

#navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


/* element styling */

ul{
    padding:0
}

li {
    list-style-type: none
}